armageddon.egg-info
damage_map.html
.eggs/
.gitignore.swp

__pycache__
.ipynb_checkpoints/
.pytest_cache/

resources/full_postcodes.csv
resources/population_by_postcode_sector.csv

resources/.DS_Store

armageddon/test.ipynb
*.DS_Store

.doctrees/
LICRcyr2utf8.xdy
LICRlatin2utf8.xdy
LatinRules.xdy
Makefile
latexmkjarc
latexmkrc
make.bat
python.ist
sphinx.sty
sphinx.xdy
sphinxhighlight.sty
sphinxhowto.cls
sphinxlatexadmonitions.sty
sphinxlatexcontainers.sty
sphinxlatexgraphics.sty
sphinxlatexindbibtoc.sty
sphinxlatexlists.sty
sphinxlatexliterals.sty
sphinxlatexnumfig.sty
sphinxlatexobjects.sty
sphinxlatexshadowbox.sty
sphinxlatexstyleheadings.sty
sphinxlatexstylepage.sty
sphinxlatexstyletext.sty
sphinxlatextables.sty
sphinxmanual.cls
sphinxmessages.sty
sphinxoptionsgeometry.sty
sphinxoptionshyperref.sty
sphinxpackageboxes.sty
sphinxpackagecyrillic.sty
sphinxpackagefootnote.sty